* { box-sizing: border-box; }
html, body, 
#ctn-bg, 
#ctn-three, 
#ctn-loader{
  @extend %fhw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#ctn-bg{
  @include pa(0, 0);
  z-index: 0;
  filter: blur(4px);
  transform: scale(1);
  transform-origin: center;
}

#ctn-three{
  position: relative;
  z-index: 1;
  .canvas-webGL{ @include pa(0, 0); }
  .canvas-css3D{ @include pa(0, 0); }
}

.loading{ opacity: 0!important; }

.css3d{ 
  @include pa(0, 0);
  // opacity: 0;
  &#smoke{
    &.lights-off{ opacity: .2; }
    transition: opacity .5s;
    height: 7px; width: 10px; 
    img{ @extend %fhw; opacity: .7; } 
  }
  &#time{
    height: 2.5px;
    padding: 2.5px;
    font-family: $clock;
    font-size: 1.5px;
    color: rgb(90, 231, 90);
    overflow: inherit;
  }
}

img.css3d{  
  &#monitorPr{ height: 12px; width: 23px; }
  &#monitorSc1{ height: 10px; width: 20px; }
  &#monitorSc2{ height: 10px; width: 20px; }
  &#phone{ height: 7px; width: 4px; }
}

$pos: 40;
#ctn-loader{
  @include pa($pos, $pos);
  z-index: 2;
  // @extend %j-c;
  // z-index: -1; 
  width: calc(100% - #{$pos * 2}px);
  height: calc(100% - #{$pos * 2}px);
  // background: rgba(48, 19, 54, .74);
  background: rgba(16, 79, 63, .75);
  padding: #{$pos/2}px;  
  border-radius: 5px;
  text-align: center;
  font-family: $ar-l;
  .load{
    // @include pa(0, 0);
    @include pa($pos, $pos);
    img{ 
      height: 65px;
      vertical-align: middle;
    }
    span{ 
      font-size: 21px; 
      position: relative; top: 4px; 
    }    
  }
  .content{
    padding: 0 #{$pos/2}px;
    padding-top: 50px;
    width: 768px;
    margin: 0 auto;
    h1{ font-family: $ar-t; }
    p{ 
      text-align: left;
      font-size: 21px; 
      margin-bottom: 20px;
      &:last-of-type{ margin-bottom: 0; }
    }
    div.para-bottom{
      @extend %j-s-b;
      align-items: flex-start;
      img{ 
        height: 20px;
        vertical-align: middle;
        position: relative;
        top: -3px; left: -5px;
      }
    }
    button{
      margin-top: 50px;
      display: none;
      position: relative;
      background: transparent;
      border: 2px solid #689cc5;
      color: $w;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      font-size: 36px;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        // background: rgba(222, 163, 234, .46);
        background: rgba(16, 79, 63, .85);
        color: #689cc5;
      }
      &:focus{
        outline: none!important;
        box-shadow: none!important;
      }
    }
  }
}

#ctn-actions{
  @include pa(0, "", "", -50);
  z-index: 1;
  display: flex; 
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 7px;
  background: rgba($b, .9);
  border-bottom-left-radius: 5px;
  height: 270px;
  .inner{ 
    display: flex; 
    flex-direction: column;
    position: relative;
    left: -10px; 
  }
}

#ctn-ann{
  @include pa(0, 0);
  z-index: 3;
}

.ann{
  @include pa(0, 0);
  z-index: 1;
  font-family: $ar-t;
  .inner{ position: relative; }
  button{ 
    // font-family: $ar-l;
    font-family: $fl-r;
    @include pa(-15, -15);
    @extend %j-c;
    z-index: 1;    
    cursor: pointer;
    height: 30px; width: 30px; 
    // background: rgba(16, 79, 63, .5);
    background: rgba(32, 160, 128, .5);
    border: 1px solid $w;
    color: $w;
    border-radius: 50%;
    font-weight: bold;
    transition: all .2s, transform 1ms;
    &:focus{ outline: none!important; }
    &:hover{
      background: rgba(32, 160, 128, .7);
      height: 34px; width: 34px;
      left: -17px; top: -17px;
      // border: 1px solid #689cc5;
      // color: #689cc5;
    }
  }
  svg {
    @include pa(2, 2);
    height: 150px;
    width: 220px;
    &.up{
      @include pa(-152, -222);
    }
    path{
      // stroke: #689cc5;
      stroke: $w;
      stroke-width: 1px;
      // fill:  rgba(16, 79, 63, 0.95);
      // fill: rgba(32, 160, 128, .85);
      fill: transparent;
      stroke-dasharray: 584.852783203125 584.852783203125;
      stroke-dashoffset: 584.852783203125;
    }
    text{ 
      font-family: $fl-r;
      font-size: 14px; 
      fill: $w;
      opacity: 0;
    }
  }
  // &#ann5{
  //   // For Test
  //   @include pa(300, 300);
  //   svg {
  //     border: 1px solid rgba($w, .2);
  //     path{
  //       stroke-dashoffset: 0;
  //     }
  //     text{ 
  //       opacity: 1;
  //     }
  //   }
  // }
}